{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{#{% set gridName = 'contacts-grid' %} TODO: add grid #}
{#{% set pageTitle = 'oro.contact.entity_plural_label'|trans %} TODO: add translations #}
{% set pageTitle = 'Elfsight Widgets' %}

{% block script %}
    {{ parent() }}
    <script src="https://elfsight.com/embed-sdk.js"></script>
{% endblock %}

{% block navButtons %}
    {% if oro_config_value('ystools_orocommerce_elfsight.registered') %}
        <div data-page-component-module="ystoolsorocommerceelfsight/js/components/create-elfsight-widget-component"
            data-page-component-options="{{ {
                buttonOptions: {
                    type: 'create',
                    size: 'medium',
                    text: 'ystools_orocommerce_elfsight.buttons.create'|trans,
                    colors: ['#0c809e', '#fff'],
                    icon: false
                }
            }|json_encode }}"></div>
    {% else %}
        {#        {% if is_granted('oro_product_create') %}#}
        {#            TODO: add ACL check #}
        <div class="btn-group pull-right">
            {{ UI.addButton({
                'path': path('ystools_orocommerce_elfsight_register'),
                'label': 'ystools_orocommerce_elfsight.buttons.register'|trans,
                'aCss': 'btn-success'
            }) }}
        </div>
        {#        {% endif %}#}
    {% endif %}
{% endblock %}
