{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{#{% set gridName = 'contacts-grid' %} TODO: add grid #}
{#{% set pageTitle = 'oro.contact.entity_plural_label'|trans %} TODO: add translations #}
{% set pageTitle = 'Elfsight Widgets' %}

{% block script %}
    {{ parent() }}
    <script src="https://elfsight.com/embed-sdk.js"></script>
{% endblock %}

{% block navButtons %}
    {% if oro_config_value('ystools_orocommerce_elfsight.registered') %}
        {# TODO: add JS component #}
        <div id="elfsight-create-button-container"></div>
        <script type="application/javascript">
            const container = document.querySelector('#elfsight-create-button-container');
            const callback = function(response) {
                console.log(response);
                // TODO: remove log and add button callback logic
            };
            const options = {
                type: 'create',
                size: 'medium',
                text: '{{ 'ystools_orocommerce_elfsight.buttons.create'|trans }}',
                colors: ['#0c809e', '#fff'],
                icon: false
            };
            ElfsightEmbedSDK.displayButton(container, callback, options);
        </script>
    {% else %}
        {#        {% if is_granted('oro_product_create') %}#}
        {#            TODO: add ACL check #}
        <div class="btn-group pull-right">
            {{ UI.addButton({
                'path': path('ystools_orocommerce_elfsight_register'),
                'label': 'ystools_orocommerce_elfsight.buttons.register'|trans,
                'aCss': 'btn-success'
            }) }}
        </div>
        {#        {% endif %}#}
    {% endif %}
{% endblock %}
