{% import 'OroUIBundle::macros.html.twig' as UI %}

{% if oro_config_value('ystools_orocommerce_elfsight.registered') %}
    <div class="btn-group">
        {{ UI.button({
            'path': 'https://apps.elfsight.com/',
            'label': 'ystools.orocommerceelfsight.buttons.manage'|trans,
            'target': '_blank',
            'iCss': 'fa-vcard-o'
        }) }}
    </div>
{% else %}
    <div class="btn-group">
        {{ UI.button({
            'path': path('ystools_orocommerce_elfsight_register'),
            'label': 'ystools.orocommerceelfsight.buttons.register'|trans,
            'aCss': 'btn-success',
            'iCss': 'fa-user'
        }) }}
    </div>
{% endif %}
